/* .carousel {
  width: 750px;
  color: black;
} */

.carousel-image {
  max-width: 900px;
  max-height: 500px;
}

.item {
  background-color: black;
}

.shadow {
  text-shadow: 2px 2px black;
}

.label-classe {
  font-weight: bold;
  font-size: large;
}

.div-geral {
  margin-left: 50px;
  margin-right: 50px;
}

@media (min-width: 730px) {
  .login {
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 30%;  
  }
}

.login {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px #888888;
  padding-bottom: 20px;
  padding-top: 20px;
}

body {
  background-color: #BAB5BA;
}
